h1{
    color:blue;
    font-family: Verdana;
    font-size: 300%;
}

p{
    color: red;
    border: 2px solid powderblue;
    padding: 30px;
    font-family: "Courier New";
    font-size: 160%;
    margin: 50px;
}